/* Your styles should be mobile-first and responsive */
html{
  background-image: url('colored-mic.jpg');
  background-position: center;
  background-repeat: repeat;
}


h1{
  font-size: 55px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start, .the-response, .quiz-result{
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.726);
  border-radius: 20px;
  font-size: 22px;
  margin: 15px;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  background-color: rgb(99, 200, 218);
  border: white;
  color: rgb(255, 255, 255);
  padding: 5px 22px;
  margin: 30px;
  text-align: center;
  float: left;
  font-size: 18px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.2s;
}
button:hover{
background-color: rgba(135, 205, 218, 0.76);
}

div > ul{
  font-size: 20px;
  color:rgb(255, 255, 255);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

form>ul{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.842);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  list-style-type: none;
  text-align: left;
}

.question{
  line-height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (min-width: 600px) {
  h1{
    font-size: 100px;
  }

  .start, .the-response, .quiz-result{
    font-size: 30px;
    padding: 5px;
    margin: 100px;
  }

 button{
  padding: 20px 40px;
  margin: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
 }

 div>ul{
   font-size: 35px;
   padding: 30px;
   margin: 30px;
 }

 form>ul{
   text-align: left;
   list-style-type: none;
   margin-left: 50px;
   padding: 10px;
   font-size: 25px;
   display: table;
 }

 .question{
   line-height: 60px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/